.about_container {
    box-shadow: 0 13px 27px -5px rgba(0, 0, 0, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding: 40px;
    border-radius: 5px;
    background-color: #222;
    margin: 0 auto;
    margin-top: 200px;
    width: 90%;
    max-width: 900px;
    font-weight: 300;
}
.about_container>span:first-child {
    font-size: 18px;
}
.about_container span.tit {
    font-size: 24px;
}
.about_container>span:last-child {
    display: block;
    margin-top: 30px;
}