.detail img {
    position: relative;
    top: -10px;
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(0, 0, 0, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail .movie_title,
.detail .movie_year {
    margin: 0;
    font-weight: 300;
}

.detail .movie_title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #ffffff;
}

.detail .movie_genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 20px;
}

.movie_genres li,
.detail .movie_year {
    margin-right: 10px;
    font-size: 14px;
}

.detail {
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #abaeb9;
    box-shadow: 0 13px 27px -5px rgba(0, 0, 0, 0.25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
}

.detail {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(300px, 1fr) 2fr;
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    margin: 50px auto;
    padding-top: 70px;
    background-color: #222;
}

@media screen and (max-width: 1090px) {
    .detail {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
